<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Fontawesome -->
		<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
		<link rel="stylesheet" href="/css/estilos.css">
		<title>DH-Heroes</title>
	</head>
	<body>
		<!-- Cabecera -->
		<header>
			<div class="logo">
				<div class="logoImagen">
					<a href="/"><img src="/img/loguito.png" width="100%"></a>
				</div>
			</div>

			<!-- Barra de Navegación -->
			<nav class="barra">
				<ul>
					<a href="/babbage"><li>Babbage</li></a>
					<a href="/berners"><li>Berners-lee</li></a>
					<a href="/clarke"><li>Clarke</li></a>
					<a href="/hamilton"><li>Hamilton</li></a>
					<a href="/hopper"><li>Hopper</li></a>
					<a href="/lovelace"><li>Lovelace</li></a>
					<a href="/turing"><li>Turing</li></a>
				</ul>
			</nav>
		</header>

		<!-- Banner -->
		<div class="banner">
			<img src="/images/img-home-banner.jpg" alt="">
		</div>

		<!-- Cuerpo -->
		<main>
			<h1>Joan Elisabeth Lowther Clarke</h1>
			<div class="div-contenedor">
				<div class="div-texto">
					<p>
						Joan Elisabeth Lowther Murray, nacida como Joan Elisabeth Lowther Clarke (Londres, 24 de junio de 1917 – Oxford, 4 de septiembre de 1996) fue una criptoanalista y numismática británica que trabajó en Bletchley Park durante la Segunda Guerra Mundial.
						<br>
						Fue la única mujer que trabajó en el equipo del matemático Alan Turing en el proyecto Enigma, que desencriptó las comunicaciones secretas de la Alemania nazi. Su papel en este proceso le valió premios y citaciones, como el nombramiento como miembro de la Orden del Imperio Británico (MBE), en 1946.
					</p>
				</div>
				<div class="div-imagen"><img src="/img/clarke/c3.jpg"></div>
			</div>

			<h2>Biografía</h2>
			<div class="div-contenedor">
				<div class="div-imagen2"><img src="/img/clarke/c1.jpg"></div>
				<div class="div-texto">
					<p>
						Nacida el 24 de junio de 1917 en West Norwood, en Londres (Inglaterra), estudió la secundaria en la escuela de niñas Dulwich High School, en Londres, siendo una estudiante brillante. En 1936 ganó una beca para estudiar en el Newnham College de Cambridge, donde consiguió el Part I de las Mathematical Tripos -cursos de tres años para conseguir una licenciatura.
					</p>
					<p>
						Clarke acabó el curso consiguiendo una Wrangler, es decir, acabó siendo una estudiante con honores. Sin embargo, nunca le concedieron la licenciatura debido a que la Universidad de Cambridge no concedió ninguna licenciatura a mujeres hasta 1948.
					</p>
					<p>
						No obstante, uno de sus profesores, Gordon Welchman, se dio cuenta de las habilidades de la talentosa estudiante y le ofreció trabajar en Bletchley Park para el Government Code and Cypher School (GCCS), uno de los servicios de inteligencia del Reino Unido. Allí, Welchman formaba parte del equipo del gobierno de Churchill para decodificar y descifrar la máquina llamada Enigma con la cual los nazis codificaban mensajes.
					</p>
					<p>
						Clarke fue asignada a un grupo llamado The Girls (Las Chicas), en el que había mujeres que se dedicaban a trabajos rutinarios, pero pronto destacó y fue trasladada a trabajos de desencriptado. En aquella época era poco usual que las mujeres se dedicaran a la criptología y Clarke formaba parte de la minoría que traspasó las barreras de género, siendo así fichada por el Hut 8, un grupo informático liderado por el matemático Alan Turing.
					</p>
				</div>
			</div>
			<div class="div-contenedor">
				<div class="div-texto">
					<p>
						El grupo de Joan Clarke consiguió descifrar lo que todos se proponían: los códigos del Enigma. Por ello, en 1947 la nombraron Miembro de la Orden del Imperio Británico. Pero su reconocimiento no fue fácil, porque aún habiendo sido reconocida Joan Clarke fue discriminada como mujer en muchas ocasiones, llegando a cobrar un salario menor que el de sus compañeros y la determinaron como “lingüista” para que cobrara un poco más, pues el término de “criptóloga” en femenino no existía por aquel entonces.
					</p>
					<p>
						Joan Clarke y su trabajo permitió reducir la duración de la Segunda Guerra Mundial y pudo salvar a miles de personas gracias al descubrimiento de su grupo. Al final de su vida, se dedicó al estudio de monedas antiguas. Su persona fue interpretada por Keira Knightley en la película de 2015 The Imitation Game (El código “Enigma”).
					</p>
					<p>
						Sin duda, Joan Clarke forma parte de la historia de las mujeres que superaron las barreras que las discriminaban por su género con el apoyo de sus compañeros, que dejaron de lado el pensamiento machista de la época para apoyar a su brillante compañera.
					</p>
				</div>
				<div class="div-imagen"><img src="/img/clarke/c2.jpg"></div>
			</div>
		</main>

		<!-- Footer -->
		<footer>
			<div class="div-footer">
				<ul>
					<a href="/babbage"><li>Babbage</li></a>
					<a href="/berners"><li>Berners-lee</li></a>
					<a href="/clarke"><li>Clarke</li></a>
					<a href="/hamilton"><li>Hamilton</li></a>
					<a href="/hopper"><li>Hopper</li></a>
					<a href="/lovelace"><li>Lovelace</li></a>
					<a href="/turing"><li>Turing</li></a>
				</ul>
			</div>
			<div class="logo">
					<div class="logoImagen">
						<a href="/"><img src="/img/loguito.png" width="100%"></a>
					</div>
				</div>
			</div>
			<div class="git-hub">
				<h4>Mi GitHub:</h4>
				<a href="https://github.com/KeilaManti" target="_blank">
					<i class="fab fa-github"> KeilaManti</i>
				</a>
			</div>
		</footer>
	</body>
</html>