
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Fontawesome -->
		<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
		<link rel="stylesheet" href="/css/estilos.css">
		<title>DH-Heroes</title>
	</head>
	<body>
		<!-- Cabecera -->
		<header>
			<div class="logo">
				<div class="logoImagen">
					<a href="/"><img src="/img/loguito.png" width="100%"></a>
				</div>
			</div>

			<!-- Barra de Navegación -->
			<nav class="barra">
				<ul>
					<a href="/babbage"><li>Babbage</li></a>
					<a href="/berners"><li>Berners-lee</li></a>
					<a href="/clarke"><li>Clarke</li></a>
					<a href="/hamilton"><li>Hamilton</li></a>
					<a href="/hopper"><li>Hopper</li></a>
					<a href="/lovelace"><li>Lovelace</li></a>
					<a href="/turing"><li>Turing</li></a>
				</ul>
			</nav>
		</header>

		<!-- Banner -->
		<div class="banner">
			<img src="/images/img-home-banner.jpg" alt="">
		</div>

		<!-- Cuerpo -->
		<main>
			<h1>Ada Lovelace</h1>
			<div class="div-contenedor">
				<div class="div-imagen2"><img src="/img/lovelace/la3.jpg"></div>
				<div class="div-texto">
					<p>
						Augusta Ada King, condesa de Lovelace (Londres, 10 de diciembre de 1815-íd., 27 de noviembre de 1852), registrada al nacer como Augusta Ada Byron y conocida habitualmente como Ada Lovelace, fue una matemática y escritora británica, célebre sobre todo por su trabajo acerca de la calculadora de uso general de Charles Babbage, la denominada máquina analítica. Entre sus notas sobre la máquina, se encuentra lo que se reconoce hoy como el primer algoritmo destinado a ser procesado por una máquina, por lo que se la considera como la primera programadora de ordenadores.
					</p>
					<p>
						Dedujo y previó la capacidad de los ordenadores para ir más allá de los simples cálculos de números, mientras que otros, incluido el propio Babbage, se centraron únicamente en estas capacidades.
					</p>
					<p>
						Su madre, Anne Isabella Noel Byron, fue matemática y activista política y social. Su padre fue el conocido poeta George Byron.
					</p>
				</div>
			</div>
			<h2>Biografía</h2>
			<div class="div-contenedor">
				<div class="div-texto">
					<p>
						Ada Lovelace fue pionera en el campo de la programación de computadoras. Amante de las matemáticas y las ciencias, trabajó con Charles Babbage, el padre de los ordenadores.
					</p>
					<p>
						Ada Augusta Byron King popularmente conocida como Ana Lovelace nació el 10 de diciembre de 1815 en Inglaterra. Hija del gran poeta romántico Lord Byron, a quien nunca conoció, Ada, inició sus pasos dentro de las ciencias a muy corta edad.
					</p>
					<p>
						Con gran rigor y disciplina, esta niña se distinguía del resto por sus preguntas insipientes y sed de conocimiento. Entre algunos de sus tutores se destaca el matemático y lógico Augustus De Morgan.
					</p>
					<p>
						En 1833 comenzó a trabajar junto a Charles Babbage iniciándose rápidamente en el mundo de la programación.
					</p>
					<p>
						En 1843, Ada publicó una serie de notas sobre la máquina analítica de Babbage. Este invento, que nunca se construyó, fue el antecedente del ordenador moderno. Pero ella no sólo se encargaba de esa tarea, también realizaba aportes a dicha investigación.
					</p>
				</div>
				<div class="div-imagen"><img src="/img/lovelace/la4.jpg"></div>
			</div>
			<div class="div-contenedor">
				<div class="div-imagen2"><img src="/img/lovelace/la1.jpg"></div>
				<div class="div-texto">
					<p>
						Como consta en sus escritos, Ada interpretó las ideas del científico protoinformático y describió un lenguaje de programación cuyos aportes marcaron precedentes dentro de la historia de la informática.
					</p>
					<p>
						Esta joven genia también describió conceptos como el bucle y la subrutina y escribió un plan detallado para calcular los valores de los números de Bernoulli. Del mismo modo describió como se podían realizar operaciones trigonométricas y definió el uso de tarjetas perforadas para programar la mítica máquina de Babbage.
					</p>
					<p>
						A lo largo de su existencia se relacionó con grandes científicos e intelectuales como Charles Wheatstone, Charles Dickens, Michael Faraday o Sir David Brewster.
					</p>
					<p>
						Luego de trabajar incansablemente y de una vida sentimental algo agitada, Ada Lovelace murió de cáncer, en 1852, a los 37 años. Sin duda, esta mujer que se definía como analítica y metafísica, fue una adelantada a su época.
					</p>
					<p>
						Sin embargo, la historia fue poco generosa con ella y, por siglos, le asignó el papel de transcriptora de Babbage no reconociendo sus ideas de avanzada y grandes contribuciones.
					</p>
					<p>
						Tuvo que pasar más de un siglo para que la historia le diera su lugar. Así fue como, en 1979, el Departamento de Defensa de los Estados Unidos reconoció los aportes de esta joven inglesa y creó un lenguaje de programación en su honor llamado Ada. 
					</p>
				</div>
			</div>
		</main>

		<!-- Footer -->
		<footer>
			<div class="div-footer">
				<ul>
					<a href="/babbage"><li>Babbage</li></a>
					<a href="/berners"><li>Berners-lee</li></a>
					<a href="/clarke"><li>Clarke</li></a>
					<a href="/hamilton"><li>Hamilton</li></a>
					<a href="/hopper"><li>Hopper</li></a>
					<a href="/lovelace"><li>Lovelace</li></a>
					<a href="/turing"><li>Turing</li></a>
				</ul>
			</div>
			<div class="logo">
					<div class="logoImagen">
						<a href="/"><img src="/img/loguito.png" width="100%"></a>
					</div>
				</div>
			</div>
			<div class="git-hub">
				<h4>Mi GitHub:</h4>
				<a href="https://github.com/KeilaManti" target="_blank">
					<i class="fab fa-github"> KeilaManti</i>
				</a>
			</div>
		</footer>
	</body>
</html>